
.header {
    display: flex;
    background: black;
    mask-image:  linear-gradient(black);
    justify-content: space-between;

}

.header h1 {
    display: flex;
    color: #ffff;
    padding: 15px;
}

.header span {
    display: flex;
    margin-left: -7px;
}

.nav {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.nav a {
    display: flex;
    color: white;
    padding: 10px;
    text-decoration: none;
}